.imploding-puppies-game .announcements {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 300px;
    overflow-x: visible;
    overflow-y: auto;
}

.imploding-puppies-game .announcements:not(:hover):after {
    content: '\e80c';
    font-family: "icons";
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.6);
    position: relative;
    top: 5px;
}

.imploding-puppies-game .announcements li {
    display: none;
    color: white;
}

.imploding-puppies-game .announcements li.animated-announcement {
    display: inline;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    margin: 5px 0;
    padding: 5px 10px;
    animation: fade-announcement 2s linear 1 forwards;
    z-index: 100;
}

@keyframes fade-announcement {
    0% {
        transform: translateY(140px);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

.imploding-puppies-game .announcements li .action {
    font-weight: bold;
}

.imploding-puppies-game .announcements:hover {
    background: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.imploding-puppies-game .announcements:hover li.animated-announcement {
    left: -99999px;
}

.imploding-puppies-game .announcements:hover li {
    display: block;
    margin: 5px;
}
