.imploding-puppies-game .card, .imploding-puppies-game .card-deck {
    border-radius: 5px;
    border: 4px solid;
    display: inline-block;
    height: 140px;
    margin: 10px;
    position: relative;
    user-select: none;
    width: 100px;
    transform-origin: 50% 250%;
    background: #fff;
}

.imploding-puppies-game .card:before, .imploding-puppies-game .card-deck:before {
    background-color: rgba(153, 153, 153, 0.2);
    border: 1px solid #999;
    content: '';
    display: block;
    height: 85%;
    margin: 10%;
    width: 80%;
}

.imploding-puppies-game .card.face-down:before {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
}

.imploding-puppies-game .card-value {
    position: absolute;
    top: 15px;
    text-align: center;
    left: 5px;
    right: 5px;
    white-space: normal;
}

.imploding-puppies-game .card-face {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: 60px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
}

.imploding-puppies-game .card.interactive:not(.disabled):hover {
    z-index: 1;
    top: -10px;
    cursor: pointer;
}

.imploding-puppies-game .card.selected {
    box-shadow: 0 0 5px;
    top: -50px!important;
}

.imploding-puppies-game .card.disabled {
    background: #eee;
}

.nope {
    background: red;
}

.imploding-puppies-game .moving-card {
    transition: transform 0.5s ease-in;
    position: absolute!important;
    top: 0;
    left: 0;
}
