.imploding-puppies-game {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.imploding-puppies-player {
    width: 100%;
    height: 300px;
    position: relative;
}

.imploding-puppies-player:not(.interactive) {
    transform: scale(0.33);
}

.imploding-puppies-player .card {
    position: absolute!important;
    top: 0;
    left: calc(50% - 67px);
}

.imploding-puppies-player button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
}
