.server-dialog {
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}

.server-dialog h3 {
    margin: 0 0 20px 0;
}

.server-dialog input {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.server-dialog button {
    width: 48%;
    box-sizing: border-box;
}

.server-dialog button:first-of-type {
    margin-right: 4%;
}
