.server-dialog {
    width: 280px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}

.server-dialog h3 {
    margin: 0 0 20px 0;
}

.server-dialog input {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.server-dialog button {
    width: 48%;
    box-sizing: border-box;
}

.server-dialog button:first-of-type {
    margin-right: 4%;
}

.server-lobby .host-actions {
    position: absolute;
    top: 0;
    left: 0;
}

.server-lobby .host-actions i {
    opacity: 0.7;
    cursor: pointer;
}

.server-lobby .players {
    width: calc(100% - 142px);
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    background: #ddd;
    box-sizing: border-box;
    border: 1px solid #999;
}

.server-lobby .admin-buttons {
    width: 132px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
