.facebook-card {
    position: relative;
}

.facebook-card .content {
    width: 100%;;
    max-width: 700px;
    display: inline-block;
}

.facebook-card .date {
    display: inline-block;
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    border-left: 3px solid #666;
}

.facebook-card .date.valid {
    border-left: 3px solid #103D5D;
}

.facebook-card .date.ongoing {
    border-left: 3px solid rgb(202, 139, 25);
}

.facebook-card .date.expired {
    border-left: 3px solid rgb(153, 25, 25);
}

.facebook-card .facebook {
    display: inline-block;
    font-size: 100px;
    vertical-align: top;
    color: #666;
}

.facebook-card .daZGjV {
    position: absolute;
    top: 10px;
    right: 10px;
}

.facebook-card .edit-event {
    background-color: #103D5D;
}

.facebook-card input[type="text"] {
    width: 100%;
    margin: 5px 0;
}

.facebook-card textarea {
    width: 100%;
    min-height: 200px;
    margin: 5px 0;
    resize: none;
}
