.canvas-parent {
    margin-top: 10px;
    width: 100%;
    height: calc(95vh - 100px);
    line-height: 0;
    position: relative;
}

.touchdecider-canvas {
    cursor: pointer;
    border: 1px solid #ccc;
}

.touchdecider-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none;
    pointer-events: none;
    user-select: none;
    line-height: 1;
    font-size: 30px;
    text-align: center;
}
